/**********************
	FONTS
***********************/

/*	lg-icons: FONTAWESOME
*****************************************/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
 
 
/*	CUSTOM lg-icons
***********************************/
@font-face {
  font-family: 'lg-icons';
  src: url('../fonts/lg_icons.eot?24001874');
  src: url('../fonts/lg_icons.eot?24001874#iefix') format('embedded-opentype'),
        url('../fonts/lg_icons.woff?24001874') format('woff'),
        url('../fonts/lg_icons.ttf?24001874') format('truetype'),
        url('../fonts/lg_icons.svg?24001874#lg_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lg_icons';
    src: url('../font/lg_icons.svg?24001874#lg_icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "lg-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased lg-icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

 
.icon-home:before { content: '\e800'; } /* '' */
.icon-door:before { content: '\e801'; } /* '' */
.icon-contact:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-hands:before { content: '\e804'; } /* '' */
.icon-key:before { content: '\e805'; } /* '' */
.icon-sell:before { content: '\e806'; } /* '' */
.icon-buildings:before { content: '\e807'; } /* '' */
.icon-coins_stack:before { content: '\e808'; } /* '' */
.icon-office_desk:before { content: '\e809'; } /* '' */
.icon-shop:before { content: '\e80a'; } /* '' */
.icon-shop_key:before { content: '\e80b'; } /* '' */
.icon-tree:before { content: '\e80c'; } /* '' */
.icon-house:before { content: '\e80d'; } /* '' */
 
/*	GOOTLE FONT: LATO
**************************************/
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);



