﻿/**********************
	GLOBALS
***********************/
 
article,
aside,
figure,
footer,
header,
hgroup,
main,
menu, 
nav,
section {
	display: block;
}
 
html,
body{
	padding: 0;
	margin: 0; 
	height: 100%;
}



/***********************
	HELPERS
***********************/
.inline{
	display: inline;
}

.clearfix{
	@include clearfix;
}

.img-responsive{
	display: inline-block;
}

/*************************
	STYLES
**************************/
body{
	font-family: Lato, helvetica, arial, sans-serif;
	background: darken($page-background, 7);
}

a{
	color: $color-1;
}
a:hover{
	text-decoration: none;
	color: darken($color-1,10);
}


.btn{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	&:focus{
		outline:0;
	}
}


.slick-slide {
	outline: none;
}


.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}


/***********************
	STYLES
***********************/

.leyend{
	color: $color-1;
	text-align: right;
	font-style: italic;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1em;
	margin-right: 2em;
	p{
		margin: 0;
		+ p{
			margin-top: .5em;
		}
		&:first-child{
			padding-right: 3em;
		}
	}
}

h1,h2,h3,h4,h5,h6{
	&.highlight{
		$bgcolor1: darken($color-1, 10%);
		$bgcolor2: lighten($color-1, 10%);
		@include gradient-vertical-three-colors($bgcolor1, $bgcolor2, 50%, $bgcolor1);
		padding: 1em;
		color: #ffffff;
		font-size: 1em;
		text-transform: uppercase;
	}
	&.highlight-3{
		background-color: $color-1;
		padding: 1em;
		color: #ffffff;
		font-size: 1em;
		text-transform: uppercase;
		display: inline-block;
	}
}

.highlight-2{
	padding: 1em;
	background-color: #ccc;
}

ul.list-1{
	list-style-type: none;
	margin: 0;
	padding: 0;
	li{
		padding: 0 0 0 3em;
		&:before{
			content: "\f0c8";
			font-family: FontAwesome;
			color: $color-1;
			padding-right: 1em;
			font-size: .8em;
		}
	}
}

.thumb{
	img{
		display: inline-block;
	}
}

.entry-title{
	font-size: 1.6em;
	text-transform: uppercase;
}

.entry-content{
	p{
		padding: 10px 15px 0 15px;
		&:first-child{
			padding-top: 0;
		}
	}
}

.frm-title{
	background: #555;
	font-size: 1.2em;
	margin: -1em -.4em 0 -.45em;
	padding: 1em;
	color: #fff;
}