/************************************
	LAYOUT
*************************************/


/*	WRAPPER
**********************************/
#wrapper{
	min-width: 303px;

	.page-wrap{
		@include container-fixed;
	}
	
	#header,
	#pre-header,
	#masthead,
	#content,
	#footer{
		@include make-row();
	}
	.wrapper{
		
		max-width: 990px;
		margin: 0 auto;
		
	}
	#content{
		@include make-sm-column(12);
		margin: 0;
	}
	#footer{
		background: $page-background;
		padding: 1em 0;
	}
}

@media (max-width: 768px){
	#main{
		> .wrapper,
		#content{
			padding: 0;
			margin: 0;
		}
	}
	
}
@media (min-width: 768px){
	#wrapper{
		$footer-height: 9.8em;
		min-height: 100%;
		
		transform: translate(0,0) !important;
		
		>.page-wrap{
			min-height: 100%;
			margin-bottom: -$footer-height; 
			&:after {
				content: "";
				display: block;
				height: $footer-height;
			}
		}	
		
		#footer{
			height: $footer-height;
		}
	}		
} 


/*	PRE-HEADER
**************************************/
#pre-header{
	padding: .8em 0;
	border-bottom: 2px dashed darken($page-background, 9);
	background: $page-background;
	font-size: .7em;
	text-align: center;
	
	.wrapper{
		> div{
			margin-left:3em;
			display: inline-block;
		}
		div:first-child{
			margin-left: 0;
		}
	}
}

@media (min-width: 768px){
	#pre-header{
		padding-left: 37.5%;
		.wrapper{
			> div{
				display: inline;
			}
		}
	}		
}


//*	HEADER
//******************************************/
#header{
	>.wrap{
		@include make-row;
		margin: 0;
		#logo{
			@include make-sm-column(5);
			//@include make-sm-column-offset(1);
			img{
				max-width: 100%;
			}
		}
		>.wrap{
			@include make-sm-column(7,0);
			@include make-md-column(6);
			.cmp-tag-meta-1{
				@include make-sm-column(6,0);
			}
		}
		.cmp-nav-main-1{
			padding: 0;
		}
	}
}


//*	MASTHEAD
//******************************************/
#masthead{
	@include gradient-vertical-three-colors(#888, #aaa, 50%, #888);
}


//*	CONTENT
//******************************************/
#content{
	float: inherit !important;
	//width: auto !important;
}


//*	FOOTER
//******************************************/
#footer{
	margin: 0 !important;
	text-align: center;
	.foot.wrap{
		@include make-row(0);
		.cmp-logo-1{
			@include make-sm-column(4);
			@include make-md-column(4);
			text-align: center;
			h1{
				display: inline-block;
				max-width: 200px;
				margin-top: 0;
				margin-bottom: .5em;
			}
		}
		.tag-list{
			@include make-sm-column(4);
			@include make-md-column(3);
			text-align: left;
			margin: 0 auto;
			display: inline-block;
			font-size: .8em;
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				li > span{
					margin-right: .3em;
				}
			}
		}
		.cmp-share-links-2{
			@include make-sm-column(3,0);
			margin-top: 1em; //2.5em;
		}
		.cmp-data-fiscal-1{
			@include make-sm-column(1,0);
			@include make-md-column(2,0);
			margin-top: 1em; //2.5em;
		}
		
	}
	.sub-footer{
		@include make-sm-column(10);
		@include make-sm-column-push(1);
		font-size: .75em;
		padding-top: 1em;
		padding-bottom: 1em;
		margin-top: .5em;
		.by{
			ul{
				margin: 0;
				li{
					padding: 0;
					+li:before{
						content: "|";
						padding: 0 .5em 0 0;
					}
				}
			}
		}
	}
}

@media (min-width: 35em) and (max-width: 767px){
	#footer{
		.tag-list{
			li{
				display: inline;
			}
		}
	}
}

@media (min-width: 768px){
	#footer{
		.foot.wrap{
			.cmp-logo-1 h1{
				margin-top: .5em;
			}
			
			.cmp-share-links-2{
				margin-top: 2.5em;
			}
		}
		.sub-footer{
			margin-top: 0;
			opacity: .3;
			transition: opacity 750ms ease;
			.foot{
				@include clearfix;
				.copy{
					float: left;
				}
				.by{
					float: right;
				}
			}
		}
		&:hover{
			.sub-footer{
				opacity: 1;
			}
		}
	}
}


//***********************************************
//	PAGES
//***********************************************/
body.home{
	.cmp-tag-meta-list-2{
		article{
			@for $i from 1 through 3 {
				&:nth-child(#{$i}) { 
					@include animation-delay(.1s * $i); 
				}
			}
		}
	}
}
@media (max-width: 35em){
	body.home{
		.cmp-slider-1{
			display: none;
		}	
	}
}
