/**********************
	MIXINS
***********************/
@mixin reset-button(){
	border: none;
	background: none !important;
	padding: 0;
	box-shadow: none;
	&:focus{
		outline:0;
	}
}

@mixin reset-input(){
	border: none;
	box-shadow: none;
	&:focus{
		outline:0;
	}
}

@mixin btn{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	&:focus{
		outline:0;
	}
}

@mixin btn-ham{
	font-size: 2em;
	color: $color-2;
	&:hover,
	&:focus{
		text-decoration: none;
	}
}


// Generate the small columns
@mixin make-ms-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-ms-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-ms-column-offset($columns) {
  @media (min-width: $screen-ms-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-ms-column-push($columns) {
  @media (min-width: $screen-ms-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-ms-column-pull($columns) {
  @media (min-width: $screen-ms-min) {
    right: percentage(($columns / $grid-columns));
  }
}