.cmp-prop-item-1{
	$icon-color-bg: #ff0000;
	
	position: relative;
	color: #333;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	min-height: 88px;
	font-size: .9em;
	line-height: 1em;
	padding: 9em 1em 0em 1em;
	margin: 1em 0;
	
	@include make-xs-column(12);
	@include make-ms-column(5);
	@include make-sm-column(3);
	@include make-lg-column(2);
	
	
	a{
		&:before{
			content: '';
			position: absolute;
			left: 50%;
			top: 0;
			margin-left: -4em;
			width: 8em;
			height: 8em;
			
			transition: all 1s ease;
			background: $icon-color-bg;
			@include gradient-radial( $icon-color-bg, darken($icon-color-bg, 20));
			border-radius: 4em;
		}
		&:after{
			content: '\e80d'; /* House */
			font-family: lg-icons;
			color: #fff;
			font-size: 7em;
			position: absolute;
			top: 4px;
			left: 50%;
			width: 1em;
			height: 1em;
			line-height: 1.1em;
			margin-left: -.5em;
			transition: all 1s ease;
		}
	}
		
	&[data-type="departamento"] a:after{
		content: '\e807';
	}
	&[data-type="fondo-de-comercio"] a:after{
		content: '\e80b';
	}
	&[data-type="local"] a:after{
		content: '\e80a';
	}
	&[data-type="lote"] a:after{
		content: '\e80c';
	}
	&[data-type="oficina"] a:after{
		content: '\e809';
	}
	&[data-type="para-inversionistas"] a:after{
		content: '\e808';
	}
	&[data-type="quinta"] a:after{
		content: '\e80d';
	}
	&[data-type="semipiso"] a:after{
		content: '\f1ad';
		font-family: fontawesome;
		font-size: 4.5em;
		top: 18px;
		margin-left: -.46em;
	}
}

@media (min-width: 768px){
	.cmp-prop-item-1{
		float: none !important;
		display: inline-block !important;
		margin: 0 -2px;
	}
}