.cmp-highlight-1{
	margin: 1em auto;
	border: 6px solid $color-1;
	border-radius: 1em;
	text-align: center;
	padding: 1em 1.5em;
	font-size: 1em;
	
	.title{
		text-transform: uppercase;
		color: $color-1;
		margin: .5em 0 1em 0;
		font-size: 1.2em;
	}
	p{
		font-weight: bold;
		margin: 0;
		+ p{
			margin-top: 1em;
		}
	}
}