.cmp-inmueble-1{
	@include make-row(0);

	font-size: 0.9em;
	position: relative;
	margin-bottom: 3em;
	
	.col2{
		@include make-sm-column(5,0);
		@include make-sm-column-pull(7);
	}
	
	.thumb{
		margin-bottom: 2em;
		img{
			width: 100%;
			display: block;
		}
	}
	> .content{
		@include make-sm-column(7,0);
		@include make-sm-column-push(5);
		
		.inmueble-tipos{
			font-size: .9em;
			font-weight: bold;
			line-height: 1.2em;
			> ul{
				margin: 0;
				li{
					padding: 0;
				}
				> li + li:before{
					content: "-";
					padding: 0 .3em;
				}
			}
		}
		> header{
			margin-bottom: 1em;
			h1{
				font-size: 1.3em;
				font-weight: bold;
				margin: .3em 0;
				a{
					color: #111;
				}
			}
		}
		
	}
	.entry-footer{
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: 25px;
	}
	
	.cmp-box-1{
		.entry-title{
			padding: .2em 0 .5em 0;
			font-size: 1.6em;
			font-weight: bold;
			a{
				color: inherit;
			}
		}
		.operacion{
			margin: 1em 0;
			.precio{
				@include gradient-vertical($color-1, darken($color-1, 10), 50%, 100%); 
				font-size: 1.4em;
			}
			.tipo-operacion{
				text-transform: capitalize;
				margin-left: 5px;
				font-size: 1.2em;
			}
		}
		
		.inmueble-tipos{
			color: inherit;
		}
		>.content  [class*="cmp-form"]{
			margin: -1em -.5em;
		}
	}
}


@media (min-width: 768px){
	.cmp-inmueble-1{
		@include make-row();
		> .content{
			padding-left: 35px;
		}
	}
}