.cmp-box-1{
		background: #fff;
		margin-bottom: 2em;
	>.title{
		background: $color-1;
		padding: 10px 8px 8px 8px;
		text-transform: uppercase;
		color: #fff;
		margin: 0 0 .5em 0;
		font-size: 1em;
	}
	>.content{
		padding: .5em;
	}

}