.cmp-staff-1{
	padding: 1em 1em 1em 152px;
	color: #ffffff;
	background-color: #666;
	min-height: 198px;
	.thumb{
		float: left;
		margin-left: -136px;
		width: 120px;
		height: 166px;
		background: url(../images/staff-default.jpg) no-repeat center center;
		background-size: 100%;
		img{
			max-width: 100%;
			display: block;
			height: auto !important;
		}
	}
	h1{
		font-size: 1.3em;
		margin: 0 0 1em 0;
	}
}