.cmp-tag-meta-2{
	$icon-color-bg: #ff0000;
	>a{
		color: inherit;
	}

	position: relative;
	font-size: .9em;
	line-height: 1em;
	padding: 9em 1em 1em 1em !important;
	color: #000;
	min-height: 88px !important;
	text-align: center;
	
	&:before{
		content: '';
		position: absolute;
		left: 50%;
		top: 0;
		margin-left: -4em;
		width: 8em;
		height: 8em;
		
		transition: all 1s ease;
		background: $icon-color-bg;
		@include gradient-radial( $icon-color-bg, darken($icon-color-bg, 20));
		border-radius: 4em;
	}
	&:after{
		content: '\e800';
		font-family: lg-icons;
		color: #fff;
		font-size: 8em;
		position: absolute;
		top: 0;
		left: 50%;
		width: 1em;
		height: 1em;
		line-height: 1.1em;
		margin-left: -.5em;
		transition: all 1s ease;
	}
	
	&.tag-tasacion:after{
		content: '\e806';
	}
	&.tag-venta:after{
		content: '\e805';
	}
	&.tag-alquiler:after{
		content: '\e804';
	}
	
	a[href^="mailto:"]{
		word-break: break-all;
	}

	h1{
		margin-top: 0;
		font-size: 1.2em; 
		text-transform: uppercase;
	}
}

@media (max-width: 479px){
	.cmp-tag-meta-2{
		+.cmp-tag-meta-2{
			margin-top: 1em;
		}
	}
}
@media (min-width: 480px){
	.cmp-tag-meta-2{
		padding: 7em 1em 1em 1em !important;
		&:before{
			margin-left: -3em;
			width: 6em;
			height: 6em;
		}
		&:after{
			font-size: 5.5em;
			width: 1.1em;
			height: 1.1em;
			line-height: 1.15em;
			margin-left: -.55em;
		}
	}
}
@media (min-width: 768px){
	.cmp-tag-meta-2{
		padding: 1em 0 1em 6em !important;		
		text-align: left;
		+.cmp-tag-meta-2{
			margin-top: 0;
		}
		&:before{
			left: 1em;
			top: 50%;
			margin: -2.3em 0 0 0;
			width: 4.6em;
			height: 4.6em;	
		}
		&:after{
			font-size: 4em;
			top: 50%;
			left: .33em;
			width: .9em;
			height: 0.9em;
			line-height: .9em;
			margin: -.4em 0 0 0;
		}
	}
}