.cmp-inmuebles-list-1{
	$bgcolor1: darken($color-1, 10%);
	$bgcolor2: lighten($color-1, 10%);
	padding: 1em;
	margin-top: 2em;
	.cmp-breadcrumb-1{
		padding: 1em;
		margin: -1em -1em 2em -1em;
		@include gradient-vertical-three-colors($bgcolor1, $bgcolor2, 50%, $bgcolor1);
		.term-tipo a {
			text-transform: uppercase;
		}
	}
	> .wrap{
		@include make-row();
	}
}

@media (min-width: 768px){
	.cmp-inmuebles-list-1{
		.cmp-breadcrumb-1{
			padding: 1em 3em .5em;
		}
	}
}
