.cmp-tag-meta-1{
	position: relative;
	font-size: .85em;
	line-height: 1.2em;
	padding: 1.35em 0em 1.35em 4em !important;
	min-height: 3.5em;
	
	margin-top: 15px;

	
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: .8em;
		width: 3.5em;
		height: 3.5em;
		background: #fff;
		border-radius: 2.5em;
	}
	&:after{
		content: '\e800';
		font-family: lg-icons;
		color: #333;
		font-size: 2.5em;
		position: absolute;
		top: .80em;
		left: .22em;
	}
	
	&.tag-contact:after{
		content: '\e802';
		top: .84em;
	}
	
	a[href^="mailto:"]{
		word-break: break-all;
	}
	.meta-phone{
		font-size: 1.3em;
		font-weight: bold;
	}
}