.cmp-open-hours-1{
	&.icon-door{
		position: relative;
		padding-left: 3em;
		&:before{
			font-size: 2.2em;
			position: absolute;
			top: 50%;
			left: 0;
			line-height: .7em;
			margin-top: -.25em;
		}
	}
}