.cmp-hamburger-1{
    box-sizing: border-box;
    display: block;
    width: 30px;
    height: 25px;
    position: absolute;
    top: 12px;
    left: 10px;
    z-index: 4;
    &:before, &:after, span {
        background: $color-1;
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        position: absolute;
        left: 0px;
    }
    &:before {
        top: 0px;
    }
    span {
        top: 10px;
    }
    &:after {
        top: 20px;
    }
    &:before,
    &:after,
    > span {
        -webkit-transition: none 0.5s ease 0.5s;
        transition: none 0.5s ease 0.5s;
        -webkit-transition-property: transform, top, bottom, left, opacity;
        transition-property: transform, top, bottom, left, opacity;
		span{
			display: none;
		}
    }
}

html.mm-opening{
	.cmp-hamburger-1{
		&:before, &:after {
			top: 10px;
		}
		span {
			left: 0px;
			opacity: 0;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}
