.cmp-search-filter-1{
	$height: 57px;
	background: #615e61;
	min-height: $height;
	color: #fff;
	padding-top: 1em;
	
	@include clearfix();
	form.wrap{
		@include make-row;
		>h1{
			@include make-sm-column(3);
			height: $height;
			text-align: center;
			margin: 0;
			font-size: 1.1em;
			line-height: 1.2em;
			text-transform: uppercase;
			position: relative;
			padding: 1.3em 6em 0 6em !important;
			&:before{
				content: '\e803';
				font-family: lg-icons;
				position: absolute;
				left: .3em;
				top: 50%;
				font-size: 3.5em;
				margin-top: -.55em;
				line-height: 1.1em;
			}
		}
		>.wrap {
			@include make-sm-column(9);
			>.form-group{
				@include make-sm-column(4);
				margin-bottom: .8em;	
			}
			.group-rango{
				@include make-row(0);
				>.form-group{
					@include make-xs-column(6);
					@include make-sm-column(6, 0);
					margin-bottom: 0;
					&:first-child{
						padding-right: 5px !important;
					}
					&:last-child{
						padding-left: 5px !important;
					}
					input{
						height: auto;
						width: 100%;
					}
				}
			}
		}
		select,
		.bootstrap-select,
		button{	
			color: #333;
			width: 100% !important;
		}
		button,
		input{
			padding: 6px 12px !important;
		}
		.btn.dropdown-toggle, 
		input{
			font-size: .85em;
		}
		 
		button[type="submit"]{
			text-transform: lowercase;
		}
	}
}

@media (max-width: 768px){
	.cmp-search-filter-1{
		form.wrap{
			button,
			input{
				padding: 6px 12px !important;
			}
			button[type="submit"]{
				@include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
			}
		}	
	}	
}

@media (min-width: 768px){
	.cmp-search-filter-1{
		label{
			display: none;
		}
		form.wrap{
			>h1{
				text-align: left;
				padding: .2em 3em  0 5.5em !important;
			}
		}
	} 
}