.cmp-inmueble-meta-2{
	line-height: 1.2em;
	margin: 0 -.5em;
	> ul{
		list-style: none;
		margin: 0;
		padding: 0;
		> li{
			&:nth-child(odd){
				background: #f5f5f5;
			}
			
			
			padding: .5em;
			padding-left: 45%;
			position: relative;
			font-weight: bold;
			label{
				margin: 0;
				font-weight: 800;
				position: absolute;
				left: .5em;
				top: .5em;
				width: 40%;
				text-transform:uppercase;
				font-size: 1em;
			}
			
			> ul{
				padding: 0;
				margin: 0;
				list-style-type: none;
			}
			&:not(.meta-amenities){
			>ul{
				padding: 0 .5em;
				font-weight: normal;
				font-style: italic;
				> li{
					&:before {
						content: "- ";
					}
				}
			}
			}
			&.meta-superficie,
			&.meta-banos{
				li{
					text-transform: lowercase;
				}
			}
			
			li{
				sup{
					line-height: 0;
					font-size: .7em;
				}
			}
		}
	}
}
