.cmp-zone-group-1{
	+ .cmp-zone-group-1{
		margin-top: 1em;
	}
	
	&.cmp-zone-group-1-empty{
		background: #fff;
		padding: 4em  1em;
		margin: 0;
		text-align: center;
	}
	
	> h1{
		font-size: 1em;
		margin: 0 0 .8em 0;
		color: #fff;
		a{
			color: #fff;
		}
	}
	section{
		list-style: none;
		background: #fff;
		padding: 1em;
		margin: 0;
		@include make-row(0);
		> article{
			margin: 0;
			padding: 0;
			@include make-sm-column(4,0);
			@include make-md-column(3,0);
			position: relative;
			padding-left: 1em;
			&:before{
				content: '\f111';
				font-family: fontawesome;
				position: absolute;
				top: .6em;
				left: 0;
				color: darken($color-1, 10%);
				font-size: .5em;
			}
		}
	}
}
