.cmp-inmueble-item-1{
	@include make-md-column(6,0);
	@include make-row(0);
	
	font-size: 0.9em;
	position: relative;
	margin-bottom: 3em;
	
	.thumb{
		@include make-sm-column(6,0);
		img{
			width: 100%;
			display: block;
		}
	}
	.content{
		@include make-sm-column(6,50px);
		
		padding-bottom: 3em;
		
		.inmueble-tipos{
			font-size: .9em;
			font-weight: bold;
			line-height: 1.2em;
			> ul{
				margin: 0;
				li{
					padding: 0;
				}
				> li + li:before{
					content: "-";
					padding: 0 .3em;
				}
			}
		}
		> header{
			margin-bottom: 1em;
			h1{
				font-size: 1.3em;
				font-weight: bold;
				margin: .3em 0;
				a{
					color: #111;
				}
			}
		}
		
	}
	.entry-footer{
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: 25px;
	}
}
