.cmp-zone-list-1{
	$bgcolor1: darken($color-1, 10%);
	$bgcolor2: lighten($color-1, 10%);
	@include gradient-vertical-three-colors($bgcolor1, $bgcolor2, 50%, $bgcolor1);
	padding: 1em;
}

@media (min-width: 768px){
	.cmp-zone-list-1{
		padding: 1em 3em;
	}
}
