.cmp-inmueble-meta-1{
	font-size: .9em;
	line-height: 1.2em;
	> ul{
		list-style: none;
		margin: 0;
		padding: 0;
		> li{
			+ li{
				margin-top: .3em;
			}
			label{
				margin: 0;
				font-weight: 800;
			}
			&.meta-superficie,
			&.meta-banos{
				li{
					text-transform: lowercase;
				}
			}
			li{
				sup{
					line-height: 0;
					font-size: .7em;
				}
			}
		}
	}
}
