.cmp-slider-1{
	margin-bottom:0;
	position: relative;
	box-shadow: 0 0 5px 0px rgba(0,0,0, .3);
	&:not(.slick-initialized){
		&:before{
			content: '';
			display: block;
			height: 0;
			padding-top: 45%;
		}
		div{
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			&:first-child{
				display: block;
			}
			img{
				width: 100%;
			}
		}
	}
	
	&.slick-initialized{
		display: block;
	}
	.slick-slide{
		outline: none;
		img{
			width: 100%;
		}
	}
	.slick-dots{
		position: absolute;
		left: 0;
		bottom: 1em;
		li{
			button{
				border: 3px solid #fff;
				border-radius: 10px;
				font-size: 1em;
				padding: 0;
				width: 1.2em;
				height: 1.2em;
				box-shadow: 0 0 5px rgba(0,0,0, .3);
				&:before{
					display: none;
				}
			}
			&:hover,
			&.slick-active{
				button{
					background: $color-1;
				}
			}
		}
	}
}