.cmp-slider-2{
	margin-bottom:0;
	&:not(.slick-initialized){
		div{
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			&:first-child{
				display: block;
			}
			img{
				width: 100%;
			}
		}
	}
	
	&.slick-initialized{
		display: block;
	}
	.slick-slide{
		outline: none;
		img{
			width: 100%;
		}
	}
	.slick-dots{
		position: absolute;
		left: 0;
		bottom: .4em;
		margin: 0;
		li{
			width: 1em;
			height: 1em;
			line-height: 0;
			button{
				border-radius: 10px;
				border: 1px solid $color-1;
				font-size: .5em;
				padding: 0;
				width: 1em;
				height: 1em;
				&:before{
					display: none;
				}
			}
			&:hover,
			&.slick-active{
				button{
					background: $color-1;
				}
			}
		}
	}
}