.cmp-logo-1{
	text-align: center;
	a{
		display: inline-block;
		img{
			max-width: 100%;
		}
	}
}

@media (max-width: 767px){
	.cmp-logo-1{
		text-align: center;
		h1{
			margin: 0;
			display: block;
			img{
				height: 34px;
				display: block;
				margin: .2em auto;
			}
		}
	}
}