.cmp-nav-main-1{
	.menu{
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: table;
		width: 100%;
		@include clearfix;
		> li{
			display: table-cell;
			border-top: 1px solid #ffffff;
			border-bottom: 1px solid #ffffff;
			+ li{
				border-left: 3px solid #ffffff;
			}
			min-width: 70px;
			> a{
				background: $color-1;
				display: block;
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				font-size: 1em;
				padding: .7em .4em;
				@include gradient-vertical(darken($color-1, 10), $color-1, 0%, 50%); 
			}
			&:hover,
			&.current-menu-item {
				> a{
					@include gradient-vertical(darken($color-1, 15), darken($color-1, 5), 0%, 50%); 
				}
			}
		}
	}
}