.cmp-breadcrumb-2{
	font-size: 1em;
	ul{
		margin-bottom: 0;
		margin-left: 0;
		li{
			padding: 0;
			+ li + li{
				&:before{
					content: ' - ';
					font-family: fontawesome;
					font-size: .9em;
					padding: 0 .4em;
				}
			}
			&:first-child{
				text-transform: uppercase;
				display: none;
			}
		}
	}
	a{
		color: inherit;
	}
}
