.cmp-form-2{
	@extend .clearfix;
	
	margin-top: 1em;
	padding: 1em;
	color: #fff;
	background: #555;
	>.title{
		font-size: 1.2em;
		margin: 0 0 1em 0;
	}
	.form-group{
		label{
			color: #ffff;
		}
	}
	.btn{
		line-height: 2em;
		float:right;
	}
	
}