.cmp-share-links-1{
	display: inline-block;
	ul{
		padding: 0;
		margin: 0;
		display: inline;
		list-style-type: none; 	
		li{
			display: inline;
			padding-left: .5em;
			font-size: 1.4em;
			a{
				color: $color-1;
				&:before{
					content: '';
					font-family: fontawesome;
				}
				span{
					display: none;
				}
			}
			&.share-facebook a:before{
				content: '\f09a'
			}
			&.share-twitter a:before{
				content: '\f099'
			}
		}		
	}
}