.cmp-breadcrumb-1{
	margin-bottom: 1em;
	color: #fff;
	a{
		color: #fff;
		border-bottom: 1px solid;
	}
	li{
		padding: 0;
		+ li{
			&:before{
				content: '\f105';
				font-family: fontawesome;
				font-size: .9em;
				padding: 0 .4em;
			}
		}
		&:first-child{
			text-transform: uppercase;
		}
	}
}
