.cmp-form-1{
	margin: -.5em;
	padding: 1em;
	color: #fff;
	background: #555;
	>.title{
		font-size: 1.2em;
		margin: 0 0 1em 0;
	}
	.form-group{
		label{
			display: none;
		}
	}
	.btn{
		line-height: 2em;
	}
	
}